# Ignore everything
*
# Don't ignore directories, so we can recurse into them
!*/

# le pongo dos asteriscos al final a los que quiero que vean otra carpeta dentro.
!**/bspwm/*
!**/matplotlib/**
!**/nvim/**
!**/polybar/*
!**/st/*
!**/sxhkd/*
!**/vifm/**
!**/zathura/*
!**/zsh/*


# no ignorar archivos
!.gitignore
!leeme.txt

# ignorame estos
vifm/vifminfo.json
vifm/vifminfo.json_79898

